
<!doctype html>
<html class="no-js" lang="en">
    {% load static %}
    {%  block content %}

    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>NovaTrust Bank</title>
    
        <link rel="shortcut icon" href="{% static 'images/fav.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugin/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugin/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/arafat-font.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugin/animate.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    

<body>
    <!-- start preloader -->
    <!--<div class="preloader" id="preloader"></div>-->
    <!-- end preloader -->

    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->

    <!-- header-section start -->
    <header class="header-section">
        <div class="overlay">
          <div class="container">
            <div class="row d-flex header-area">
              <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                  <img src="{% static 'images/logo.png' %}" width="150px" class="logo" alt="logo">
                </a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbar-content">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                  <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown main-navbar">
                      <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown"
                        data-bs-auto-close="outside">Product</a>
                        <li class="dropend sub-navbar">
                          <a href="javascript:void(0)" class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside">Loan</a>
                          <ul class="dropdown-menu sub-menu shadow">
                            <li><a class="nav-link" href="{% url 'business-loan' %}">Business Loans</a></li>
                            <li><a class="nav-link" href="{% url 'educations-loan' %}">Educations Loans</a></li>
                            <li><a class="nav-link" href="{% url 'home-loan' %}">Home Loans</a></li>
                            <li><a class="nav-link" href="{% url 'car-loan' %}">Car Loans</a></li>
                            <li><a class="nav-link" href="{% url 'personal-loan' %}">Personal Loans</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                </div>
              </nav>
            </div>
          </div>
        </div>
    </header>
    <!-- header-section end -->


    <!-- banner-section start -->
    <section class="banner-section inner-banner educations-loan">
        <div class="overlay">
            <div class="banner-content d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-lg-7 col-md-10">
                            <div class="main-content">
                                <h1>Educations Loan</h1>
                                <div class="breadcrumb-area">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb d-flex align-items-center">
                                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                            <li class="breadcrumb-item"><a href="{% url 'product' %}">Product</a></li>
                                            <li class="breadcrumb-item"><a href="javascript:void(0)">Loan</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Educations Loans</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->

    <!-- About Business loan In start -->
    <section class="features-section about-business-loan about-educations-loan">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="top-section">
                            <div class="section-text">
                                <h5 class="sub-title">Varied offers for boundless ambitions</h5>
                                <h2 class="title">Educations loans for everyone</h2>
                                <p>Make the smart choice. Get education loan offers at great interest rates</p>
                                <ul class="list">
                                    <li class="list-item d-flex align-items-center">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="{% static 'images/icon/check.png' %}" alt="icon">
                                        </span>
                                        <span>No SSN or credit history required</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center ">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="{% static 'images/icon/check.png' %}" alt="icon">
                                        </span>
                                        <span>Checking for rate won't impact credit score</span>
                                    </li>
                                    <li class="list-item d-flex align-items-center ">
                                        <span class="check d-flex align-items-center justify-content-center">
                                            <img src="{% static 'images/icon/check.png' %}" alt="icon">
                                        </span>
                                        <span>No prepayment fees</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-area">
                                <a href="#educations-loan-form" class="cmn-btn">Apply for a Educations loan</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-end">
                        <div class="img-area">
                            <img src="{% static 'images/about-educations-loan-Illus.png' %}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Business loan In end -->

    <!-- Counter In start -->
    <section class="counter-educations">
        <div class="overlay">
            <div class="container wow fadeInUp">
                <div class="row d-flex align-items-end justify-content-center">
                    <div class="col-lg-5">
                        <div class="img-area">
                            <img src="{% static 'images/counter-Illus.png' %}" class="max-un" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-7 pt-120 pb-120">
                        <div class="section-text">
                            <h2 class="title">We believe you are more than a number.</h2>
                        </div>
                        <div class="counter-area mb-60 d-flex align-items-center justify-content-between">
                            <div class="single">
                                <h3><span class="counter">100</span>M+</h3>
                                <p>Loans Given</p>
                            </div>
                            <div class="single">
                                <h3><span class="counter">15000</span>+</h3>
                                <p>Customers Served</p>
                            </div>
                            <div class="single">
                                <h3 class="counter">150</h3>
                                <p>Countries</p>
                            </div>
                        </div>
                        <div class="btn-area">
                            <a href="#educations-loan-form" class="cmn-btn">Apply for a Education loan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter In end -->

    <!-- Get Loan In start -->
    <section class="account-feature get-loan home-loan">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="section-header text-center">
                            <h5 class="sub-title">A Better Way to Get Loan</h5>
                            <h2 class="title">How it works</h2>
                            <p>It's easier than you think. Follow the following simple easy steps</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar">
                    <div class="col-lg-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'images/icon/get-loan-1.png' %}" alt="icon">
                            </div>
                            <h5>1. Fill the form</h5>
                            <p>Fill basic information for us to get in touch with you.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'images/icon/get-loan-2.png' %}" alt="icon">
                            </div>
                            <h5>2. Get pre-qualified</h5>
                            <p>Verify your ID and get on a quick video call with a loan specialist.</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'images/icon/get-loan-3.png' %}" alt="icon">
                            </div>
                            <h5>3. Send documents</h5>
                            <p>Upload your documents on the NovaTrust Bank app and get approved in</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'images/icon/get-loan-4.png' %}" alt="icon">
                            </div>
                            <h5>4. Get a Loan</h5>
                            <p>Make smart spending decisions on the spot. Our budgeting too</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Get Loan In end -->

    <!-- Call to action In start -->
<section class="call-action card-page educations">
    <div class="overlay pt-120">
        <div class="container wow fadeInUp">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                        <h2 class="title">Let's Calculate Your Loan Offer</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="main-content">
                        <form id="education-calculator-form">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="single-input">
                                        <label for="collegeName">College Name</label>
                                        <input type="text" id="collegeName" name="college_name" placeholder="Enter your college name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single-input">
                                        <label for="gre">GRE Score</label>
                                        <input type="text" id="gre" name="gre_score" placeholder="Enter">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single-input">
                                        <label for="score">GMAT Score</label>
                                        <input type="text" id="score" name="gmat_score" placeholder="Enter">
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-between align-items-center">
                                <div class="col-lg-2 col-md-3">
                                    <div class="single-input">
                                        <h6>Full-time Study?</h6>
                                        <div class="radio-area d-flex">
                                            <label class="single-radio">Yes
                                                <input type="radio" name="full_time" value="Yes" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="single-radio">No
                                                <input type="radio" name="full_time" value="No">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-10 col-md-9">
                                    <div class="single-input">
                                        <label for="loanAmount">Loan Amount Needed</label>
                                        <input type="text" id="loanAmount" name="loan_amount" placeholder="Enter amount">
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-area row justify-content-between align-items-center">
                                <div class="col-lg-8 col-md-7">
                                    <div class="single-input">
                                        <h6>Have you already secured your student loan?</h6>
                                        <div class="radio-area d-flex">
                                            <label class="single-radio">Yes
                                                <input type="radio" name="existing_loan" value="Yes">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="single-radio">No
                                                <input type="radio" name="existing_loan" value="No" checked="checked">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-5">
                                    <div class="btn-area text-end">
                                        <button type="button" id="calculate-education-loan" class="cmn-btn">Calculate Now</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action In end -->
    <!-- Call to action In end -->

    <!-- Our Products In start -->
    <section class="our-products">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="img-area d-none d-lg-block">
                            <img src="{% static 'images/our-products-Illus.png' %}" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">
                            <h5 class="sub-title">Loan & Behold</h5>
                            <h2 class="title">Our Products</h2>
                            <p>Whether you’re starting college or graduating with student debt, we’re the only Bank that has you covered for your entire student loan journey.</p>
                        </div>
                        <div class="content-area d-flex align-items-start">
                            <div class="img-area">
                                <img src="{% static 'images/icon/student-loans.png' %}" alt="image">
                            </div>
                            <div class="text-area">
                                <h5>Student Loans</h5>
                                <p>Stress-free loans that let you focus on school without worrying how to pay for it. We offer <span>undergraduate</span>, <span>graduate</span>, <span>MBA</span>, <span>dental</span>, and <span>medical</span> loans.</p>
                            </div>
                        </div>
                        <div class="content-area d-flex align-items-start">
                            <div class="img-area">
                                <img src="{% static 'images/icon/refinancing.png' %}" alt="image">
                            </div>
                            <div class="text-area">
                                <h5>Refinancing</h5>
                                <p>Simplify your student loans and pay off debt more quickly by refinancing. It only takes minutes to see how much money you can save. <a href="javascript:void(0)">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Products In end -->
    
    <!-- Apply for a loan In start -->
<section class="apply-for-loan business-loan educations" id="educations-loan-form">
    <div class="overlay pt-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Quick & easy Education loan</h5>
                        <h2 class="title">Take One Step Closer to Your Dream.</h2>
                        <p>Get Education loans approved within days with transparent lending criteria and transparent processes.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="form-content">
                        <div class="section-header text-center">
                            <h2 class="title">Apply for a loan</h2>
                            <p>Please fill the form below. We will get in touch with you within 1-2 business days, to request all necessary details</p>
                        </div>
                        
                        <!-- Success/Error Messages -->
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <form action="{% url 'educations-loan' %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_name">Name</label>
                                        {{ form.name }}
                                        {% if form.name.errors %}
                                        <div class="text-danger small">{{ form.name.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_email">Email</label>
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                        <div class="text-danger small">{{ form.email.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_phone">Phone</label>
                                        {{ form.phone }}
                                        {% if form.phone.errors %}
                                        <div class="text-danger small">{{ form.phone.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_state">State</label>
                                        {{ form.state }}
                                        {% if form.state.errors %}
                                        <div class="text-danger small">{{ form.state.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_loan_amount">Loan amount</label>
                                        {{ form.loan_amount }}
                                        {% if form.loan_amount.errors %}
                                        <div class="text-danger small">{{ form.loan_amount.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_loan_term">Loan term</label>
                                        {{ form.loan_term }}
                                        {% if form.loan_term.errors %}
                                        <div class="text-danger small">{{ form.loan_term.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-input">
                                        <label for="id_country">Country you are going</label>
                                        {{ form.country }}
                                        {% if form.country.errors %}
                                        <div class="text-danger small">{{ form.country.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-input">
                                        <label for="id_college_name">College/University Name</label>
                                        {{ form.college_name }}
                                        {% if form.college_name.errors %}
                                        <div class="text-danger small">{{ form.college_name.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_gre_score">GRE Score (if applicable)</label>
                                        {{ form.gre_score }}
                                        {% if form.gre_score.errors %}
                                        <div class="text-danger small">{{ form.gre_score.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input">
                                        <label for="id_gmat_score">GMAT Score (if applicable)</label>
                                        {{ form.gmat_score }}
                                        {% if form.gmat_score.errors %}
                                        <div class="text-danger small">{{ form.gmat_score.errors }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="single-input d-flex align-items-center">
                                        <div class="checkbox_wrapper">
                                            {{ form.terms_agreed }}
                                            <label></label>
                                        </div>
                                        <span class="check_span">By clicking submit, you agree to NovaTrust Bank's Privacy Policy, T&C & E-sign and Communication Authorization.</span>
                                    </div>
                                    {% if form.terms_agreed.errors %}
                                    <div class="text-danger small">{{ form.terms_agreed.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="btn-area text-center">
                                <button type="submit" class="cmn-btn">Submit Application</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Apply for a loan In end -->
    <!-- Testimonials In start -->
    <section class="testimonials-section">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Testimonials</h5>
                            <h2 class="title">Trusted by 2000+ Partners & Customers</h2>
                            <p>Take a look at our past customers success stories. Our goal is to help you grow</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonials-slider">
                            <div class="single-slide">
                                <div class="single">
                                    <div class="review-area">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star blank"></i>
                                    </div>
                                    <p class="xlr">Sed arcu tortor, feugiat sit amet accumsan ac, maximus quis quam.vitae Integer ultrices elit.</p>
                                    <div class="profile-area d-flex align-items-center">
                                        <div class="img-area">
                                            <img src="{% static 'images/testimonials-image-1.png' %}" alt="image">
                                        </div>
                                        <h6>Ben Mason</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="review-area">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star blank"></i>
                                    </div>
                                    <p class="xlr">Sed arcu tortor, feugiat sit amet accumsan ac, maximus quis quam.vitae Integer ultrices elit.</p>
                                    <div class="profile-area d-flex align-items-center">
                                        <div class="img-area">
                                            <img src="{% static 'images/testimonials-image-2.png' %}" alt="image">
                                        </div>
                                        <h6>Nancy Parks</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="review-area">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <p class="xlr">Sed arcu tortor, feugiat sit amet accumsan ac, maximus quis quam.vitae Integer ultrices elit.</p>
                                    <div class="profile-area d-flex align-items-center">
                                        <div class="img-area">
                                            <img src="{% static 'images/testimonials-image-3.png' %}" alt="image">
                                        </div>
                                        <h6>Leroy Pierce</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="review-area">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star blank"></i>
                                    </div>
                                    <p class="xlr">Sed arcu tortor, feugiat sit amet accumsan ac, maximus quis quam.vitae Integer ultrices elit.</p>
                                    <div class="profile-area d-flex align-items-center">
                                        <div class="img-area">
                                            <img src="{% static 'images/testimonials-image-2.png' %}" alt="image">
                                        </div>
                                        <h6>Nancy Parks</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials In end -->

   

    <!-- Get Start In start -->

    <!-- Get Start In end -->

 <!-- Footer Area Start -->
 <div class="footer-section">
    <div class="container pt-120">
        <div class="row">
            <div class="col-12">
                <div class="footer-bottom">
                    <div class="left">
                        <p> Copyright © <a href="{% url 'home' %}">NovaTrust Bank</a> 
                            
                        </p>
                    </div>
                    <div class="right">
                        <a href="{% url 'privacy-policy' %}" class="cus-bor">Privacy </a>
                        <a href="{% url 'terms-conditions' %}">Terms &amp; Condition </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-area">
        <img src="{% static 'images/footer-Illu-left.png' %}" class="left" alt="Images">
        <img src="{% static 'images/footer-Illu-right.png' %}" class="right" alt="Images">
    </div>
</div>
<script id="chatway" async="true" src="https://cdn.chatway.app/widget.js?id=v9YQHkBe68HP"></script>
<!-- Footer Area End -->
<script>window.gtranslateSettings = {"default_language":"en","detect_browser_language":true,"wrapper_selector":".gtranslate_wrapper"}</script>
<script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
    <!--==================================================================-->
    <script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script><script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'css/owl.carousel.min.js' %}" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function(){
          $(".owl-carousel").owlCarousel({
            margin: 10,
            loop: true,
            autoplay:true,
            responsive: {
              0: {
                items: 1
              },
              600: {
                items: 1
              },
              1000: {
                items: 1
              }
            }
          });
        });
    </script>

    <script>
document.addEventListener('DOMContentLoaded', function() {
    // Sync calculator form values with application form
    const calculatorForm = document.getElementById('education-calculator-form');
    const applicationForm = document.querySelector('#educations-loan-form form');
    
    if (calculatorForm && applicationForm) {
        // Sync on calculator button click
        document.getElementById('calculate-education-loan').addEventListener('click', function() {
            const collegeName = document.getElementById('collegeName').value;
            const greScore = document.getElementById('gre').value;
            const gmatScore = document.getElementById('score').value;
            const loanAmount = document.getElementById('loanAmount').value;
            
            // Set values in application form if fields exist
            const collegeField = applicationForm.querySelector('#id_college_name');
            const greField = applicationForm.querySelector('#id_gre_score');
            const gmatField = applicationForm.querySelector('#id_gmat_score');
            const amountField = applicationForm.querySelector('#id_loan_amount');
            
            if (collegeField && collegeName) collegeField.value = collegeName;
            if (greField && greScore) greField.value = greScore;
            if (gmatField && gmatScore) gmatField.value = gmatScore;
            if (amountField && loanAmount) amountField.value = loanAmount;
            
            // Scroll to application form
            document.getElementById('educations-loan-form').scrollIntoView({
                behavior: 'smooth'
            });
        });
        
        // Auto-fill calculator from application form if going back
        applicationForm.addEventListener('input', function() {
            const collegeField = applicationForm.querySelector('#id_college_name');
            const greField = applicationForm.querySelector('#id_gre_score');
            const gmatField = applicationForm.querySelector('#id_gmat_score');
            const amountField = applicationForm.querySelector('#id_loan_amount');
            
            if (collegeField && collegeField.value) {
                document.getElementById('collegeName').value = collegeField.value;
            }
            if (greField && greField.value) {
                document.getElementById('gre').value = greField.value;
            }
            if (gmatField && gmatField.value) {
                document.getElementById('score').value = gmatField.value;
            }
            if (amountField && amountField.value) {
                document.getElementById('loanAmount').value = amountField.value;
            }
        });
    }
    
    // Form validation for education loan
    const eduForm = document.querySelector('#educations-loan-form form');
    if (eduForm) {
        eduForm.addEventListener('submit', function(e) {
            const termsCheckbox = eduForm.querySelector('input[name="terms_agreed"]');
            if (termsCheckbox && !termsCheckbox.checked) {
                e.preventDefault();
                alert('Please agree to the terms and conditions before submitting.');
                return false;
            }
            
            // Additional validation
            const requiredFields = eduForm.querySelectorAll('input[required]');
            let isValid = true;
            
            requiredFields.forEach(field => {
                if (!field.value.trim()) {
                    isValid = false;
                    field.classList.add('is-invalid');
                } else {
                    field.classList.remove('is-invalid');
                }
            });
            
            if (!isValid) {
                e.preventDefault();
                alert('Please fill in all required fields.');
                return false;
            }
            
            return true;
        });
    }
});
</script>
</body>
{%  endblock content %}
</html>